@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#0f172a,#1d4ed8,#2563eb,#0f766e);

    background-size:400% 400%;

    animation:bg 15s infinite;
}

@keyframes bg{

0%{background-position:0% 50%;}

50%{background-position:100% 50%;}

100%{background-position:0% 50%;}

}

.forgot-box{

    width:430px;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(20px);

    border-radius:25px;

    padding:40px;

    box-shadow:0 20px 45px rgba(0,0,0,.3);

    text-align:center;

    color:white;

}

.logo{

width:90px;

height:90px;

background:linear-gradient(135deg,#00c6ff,#2563eb);

border-radius:50%;

margin:auto;

display:flex;

justify-content:center;

align-items:center;

font-size:40px;

margin-bottom:20px;

}

h1{

font-size:36px;

margin-bottom:5px;

}

h2{

font-size:24px;

margin-bottom:15px;

}

p{

font-size:14px;

line-height:24px;

margin-bottom:25px;

color:#eef7ff;

}

.input-box{

position:relative;

margin-bottom:20px;

}

.input-box i{

position:absolute;

left:18px;

top:50%;

transform:translateY(-50%);

color:#2563eb;

}

.input-box input{

width:100%;

height:55px;

padding-left:48px;

border:none;

border-radius:30px;

outline:none;

font-size:15px;

}

.input-box input:focus{

box-shadow:0 0 10px rgba(255,255,255,.4);

}

button{

width:100%;

height:55px;

border:none;

border-radius:30px;

background:linear-gradient(135deg,#00c6ff,#0066ff);

color:white;

font-size:17px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

}

.back{

display:block;

margin-top:20px;

text-decoration:none;

color:#dbeafe;

}

.back:hover{

color:white;

}